.header-right-block-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.theme-wrapper {
  height: 30px;
  width: 72px;
  box-sizing: border-box;
}

