.cart-button-view-bag,
.cart-button-check-out {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 43px;
  width: 140px;
  font-family: var(--price-regular-font);
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  box-sizing: border-box;
}

.cart-button-view-bag {
  border: 1px solid var(--dark-color-default-theme);
  color: var(--dark-color-default-theme);
  background-color:  var(--c-white);
}

.cart-button-check-out {
  color: var(--c-white);
  background-color:  var(--c-primary);
}