.price-unit-wrapper {
  position: absolute;
}

.price-unit-0 {
  visibility: var(--price-visibility-0);
}

.price-unit-1 {
  visibility: var(--price-visibility-1);
}

.price-unit-2 {
  visibility: var(--price-visibility-2);
}

.price-unit-3 {
  visibility: var(--price-visibility-3);
}

.price-unit-4 {
  visibility: var(--price-visibility-4);
}